ion-content {
  --background: #ffffff;
  color: #a3a3a3;
  font-family: 'Roboto', sans-serif;
}

.perfil-container {
  max-width: 500px;
  margin: 32px auto;
  background: #fff9f9;
  border-radius: 18px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.4);
  padding: 32px 18px 24px 18px;
  text-align: center;
}
.text{
  text-align: left;
}

.perfil-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.perfil-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  // border: 2px solid #ffcc00;
  box-shadow: 0 2px 8px rgba(0,0,0,0.4);
  margin-bottom: 12px;
}

h2, .perfil-header h2 {
  color: #000000;
  font-weight: 700;
  margin-bottom: 4px;
  word-break: break-word;
}


.ad_arquivo::-webkit-file-upload-button {
  visibility: hidden; 
}

.ad_arquivo::before {
  content: 'Adicionar Foto'; 
  display: inline-block;
  background: #0a1a40;
  color: white;
  border-radius: 12px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: background 0.3s, transform 0.2s;
}


.ad_arquivo::before:hover {
  background: #091534;
  transform: translateY(-2px);
}

.perfil-header .ad_arquivo {
  display: block;
  margin: 12px auto;
  width: auto;
  align-items: center;
}


p {
  color: #424242;
  margin-bottom: 0;
}

h3 {
  color: #63625f;
  margin: 18px 0 10px 0;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: left;
  border-bottom: 1px solid #444;
  padding-bottom: 8px;
}

ion-item {
  --background: #e9e9e9;
  border-radius: 12px;
  margin-bottom: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    transition: transform 0.2s ease;

}


ion-item:hover {
  transform: scale(1.01);
}

ion-label p {
  color: #000000; 
  font-size: 1.05rem;
  margin-bottom: 2px;
}

ion-label small {
  color: #000000;
}

ion-button {
  font-weight: bold;
  letter-spacing: 0.5px;
  --border-radius: 12px;
}

ion-button[color="success"] {
  --background: #28a745;
  --color: #fff;
}

/* texto digitado dentro do ion-input */
ion-input, ion-input input {
  color: #000 !important;
}

/* texto dos labels */
ion-label {
  color: #000 !important;
}


img[alt="Imagem do post"] {
  max-width: 80px;
  max-height: 80px;
  margin-left: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

p {
  text-align: center;
  color: #535353;
  font-style: italic;
}

ion-toolbar {
  --background: #0a1a40;
  color: #fff;
}

ion-title {
  color: #ffffff;
}

ion-back-button {
  --color: #ffffff;
}
ion-list {
  background: transparent !important;
  --background: transparent !important;
  box-shadow: none;
}

@media (max-width: 700px) {
  .perfil-container {
    max-width: 98vw;
    padding: 12px 2vw 18px 2vw;
  }
}
