.login-content {
  --background: #fff;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

ion-toolbar {
  --background: #000000;
  color: #fff;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 16px;
}

.login-card {
  width: 100%;
  max-width: 370px;
  background: #ffffff; 
  border-radius: 18px;
  border: 4px solid #0a1a40; 
  box-shadow: 0 8px 32px rgba(0,0,0,0.2);
}


.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.login-logo {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 12px rgba(6, 2, 63, 0.4);
}

ion-card-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 4px;
}

ion-card-subtitle {
  color: #6d6d6d;
  margin-bottom: 12px;
}

.login-item {
  --background: #ffffff; 
  border: 2px solid #0a1a40; 
  border-radius: 8px;
  margin-bottom: 12px;
  box-shadow: none;
}


.login-item ion-label {
  color: #000 !important;
}

.login-item ion-input {
  color: #000 !important;
  --placeholder-color: #555; 
}


.btn-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 16px;

  ion-button {
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 12px;
  }
  ion-input {
    --color: #0a1a40;
  }

  ion-button.buttonLogin {
    --background: #000000;
    --color: #fff;
  }
}
