<ion-header>
    <ion-toolbar>
      <ion-title>Feed</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <!-- Formulário de postagem -->
    <ion-item>
      <ion-input
        placeholder="Escreva uma postagem..."
        [(ngModel)]="newPost">
      </ion-input>
      <ion-button (click)="addPost()">Postar</ion-button>
    </ion-item>
  
    <!-- Listagem de posts -->
    <ion-list>
      <ion-item *ngFor="let post of posts">
        <ion-avatar slot="start">
          <img [src]="post.user.picture">
        </ion-avatar>
        <ion-label>
          <h2>{{ post.user.name }}</h2>
          <p>{{ post.description }}</p>
          <small>{{ post.created_at | date:'short' }}</small>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
  